

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font: 1em/1.6 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font: 1em/1.6 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

a {
    text-decoration: none;
    font: 1em/1.6 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}