.runner {
    /* The image used */
    background-image: url('../static/MarathonLargePack.jpg');

	width: 100%;
	height: 100%;

    margin-bottom: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}