{% extends "page_layout.html" %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Contact Us</h2>
            </div>
        </div>
        <br>
        <form  action="{{ url_for('about') }}" method="post" role="form">
            {{ form.csrf }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="What is your name?">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>

        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for message in messages %}
                    {% if "Error" not in message[1] %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message[1] }}
                        </div>
                    {% endif %}

                    {% if "Error" in message[1] %}
                        <div class="alert alert-warning">
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}



        <h3>UCD Final Year Project</h3>
        <p>This web application was set up for a final year project. The objective is to design
            a companion application to interact with the Strava API and add some additional
            functionality. The author of this project is Gregory Sloggett. See some of the
            <u><a href="https://medium.com/@gregory.sloggett"> documentation related to this project</a></u>
        </p>
        <br>

    </div>

{% endblock %}
