{% extends "page_layout.html" %}

{% block style %}
    .bar {
    fill: steelblue;
    }

    .bar:hover {
    fill: brown;
    }

    .axis--x path {
    display: none;
    }

    .ticks {
    font: 10px sans-serif;
    }

    .track,
    .track-inset,
    .track-overlay {
    stroke-linecap: round;
    }

    .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
    }

    .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
    }

    .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
    }

    .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    }
{% endblock %}


{% block body %}

    <body style="padding-top: 50px;">

    <div class="runner" style="background-image: url('/static/EveningRunFemale.jpeg')">
        <div class="jumbotron" style="background-color: transparent">
            <br><br><br><br>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>Marathon Prediction - Multiple Formula</h2>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <form  action="{{ url_for('hansons_marathon_method') }}" method="post" role="form">
                    {{ form.csrf }}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group has-success has-feedback">
                                <label for="race_length">What's a race that you've recently run?</label>

                                <select id="race_length" class="form-control" name="race_length" onclick="getRace()">
                                    <option value="" disabled selected hidden>Select your distance.</option>
                                    <option value="Marathon" onclick="getRace()">Marathon</option>
                                    <option value="Half Marathon" onclick="getRace()">Half Marathon</option>
                                    <option value="10 Miler" onclick="getRace()">10 Miles</option>
                                    <option value="10 Kilometre" onclick="getRace()">10K</option>
                                    <option value="5 Miler" onclick="getRace()">5 Miles</option>
                                    <option value="5 Kilometre" onclick="getRace()">5K</option>
                                    <option value="3 Kilometre" onclick="getRace()">3K</option>
                                    <option value="Miler" onclick="getRace()">1 Mile</option>
                                    <option value="1500 Metre" onclick="getRace()">1500 Meters</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <script>
                        function getRace() {
                            var race_length = document.getElementById("race_length").value;
                            document.getElementById("id1").innerHTML = "What time did you complete that " + race_length + " in?";
                        }
                    </script>

                    <div id="race_length_head1" class="row">
                        <div id="race_length_head2" class="col-sm-12">
                            <label id="id1">
                                Duration:
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group has-success has-feedback">
                            <input type="number" class="form-control" id="race_time_hours" name="race_time_hours" min="0" max="10" placeholder="Enter Hours:" onchange="clearMsg();" onkeydown="clearMsg();">
                        </div>
                        <div class="col-sm-4 form-group has-warning has-feedback">
                            <input type="number" class="form-control" id="race_time_minutes" name="race_time_minutes" min="0" max="60" placeholder="Enter Minutes:" onchange="clearMsg();" onkeydown="clearMsg();">
                        </div>
                        <div class="col-sm-4 form-group has-error has-feedback">
                            <input type="number" class="form-control" id="race_time_seconds" name="race_time_seconds" min="0" max="60" placeholder="Enter Seconds:" onchange="clearMsg();" onkeydown="clearMsg();">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <button onclick="redraw()" type="submit" class="btn btn-success">Get Your Time!</button>
                        </div>
                    </div>
                </form>


                <br>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}

                        {% for message in messages %}
                            {% if "Error" not in message[1] %}
                                <div class="alert alert-info">
                                    <strong>Success! </strong> {{ message[1] }}
                                </div>
                            {% endif %}

                            {% if "Error" in message[1] %}
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <br>

            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Peter Reigel Marathon Prediction Algorithm</div>
                    <div class="panel-body">
                        <p>
                            The formulas and their predicted times are shown below
                        </p>
                        <p>
                            {% if peter_reigel != 0 %}
                                Peter Reigel Prediction: {{ peter_reigel }} <br>
                            {% endif %}
                            {% if andrew_vickers != 0 %}
                                Andrew Vickers Prediction: {{ andrew_vickers }} <br>
                            {% endif %}
                            {% if dave_cameron != 0 %}
                                Dave Cameron Prediction: {{ dave_cameron }} <br>
                            {% endif %}
                        </p>
                        <p>
                            {% if average != 0%}
                                Average Prediction: {{ average }}
                            {% endif %}
                        </p>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <svg width="100%" height="500px"></svg>

                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script>

                    // SETUP
                    var svg = d3.select("svg"),
                        margin = { top: 20, right: 20, bottom: 30, left: 40 },
                        x = d3.scaleBand().padding(0.1),
                        y = d3.scaleLinear(),
                        theData = undefined;

                    var g = svg.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    g.append("g")
                        .attr("class", "axis axis--x");

                    g.append("g")
                        .attr("class", "axis axis--y");

                    g.append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("Frequency");

                    // DRAWING

                    function draw_chart() {

                        var bounds = svg.node().getBoundingClientRect(),
                            width = bounds.width - margin.left - margin.right,
                            height = bounds.height - margin.top - margin.bottom;

                        x.rangeRound([0, width]);
                        y.rangeRound([height, 0]);

                        g.select(".axis--x")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        g.select(".axis--y")
                            .call(d3.axisLeft(y));

                        var bars = g.selectAll(".bar")
                            .data(theData);

{#                        var slider = chart.append("g")#}
{#                            .attr("class", "slider")#}
{#                            .attr("transform", "translate(" + margin.left + "," + (height + margin.bottom) + ")");#}
{#                        #}

                        // ENTER
                        bars.enter().append("rect")
                            .attr("class", "bar")
                            .attr("x", function (d) { return x(d.kilometre); })
                            .attr("y", function (d) { return y(d.pace); })
                            .attr("width", x.bandwidth())
                            .attr("height", function (d) { return height - y(d.pace); });

                        // UPDATE
                        bars.attr("x", function (d) { return x(d.kilometre); })
                            .attr("y", function (d) { return y(d.pace); })
                            .attr("width", x.bandwidth())
                            .attr("height", function (d) { return height - y(d.pace); });

                        // EXIT
                        bars.exit()
                            .remove();

                        svg.selectAll(".bar").on("click", function(d){location.replace("/activities/" + d.letter);});

                    }

                    // LOADING DATA

                    function loadData(csvFile) {

                        d3.csv(csvFile, function (d) {
                            d.pace = +d.pace;
                            d.kilometre = +d.kilometre;
                            return d;

                        }, function (error, data) {
                            if (error) throw error;

                            theData = data;

                            x.domain(theData.map(function (d) { return d.kilometre; }));
                            y.domain([0, d3.max(theData, function (d) { return d.pace; })+1]);

                            draw_chart();

                        });
                    }

                    // START!

                    window.addEventListener("resize", draw_chart);
                    loadData("/static/data.csv" + '?' + Math.floor(Math.random() * 1000));

                </script>
            </div>
        </div>

        <br><br><br><br><br><br><br>
    </div>
    </body>
{% endblock %}