<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Two-column full width responsive layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    {#        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>#}

    <!-- Demo Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.3.2/holder.min.js" type="text/javascript"></script>
    <link href="/static/styles.css" rel="stylesheet">

    <script>
        Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
    </script>
</head>

<body style="padding-top: 50px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="/">Strava Companion</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>

                <li><a href="/summary/">Your Summary</a></li>
                <li class="dropdown">
                    <a href="/marathon/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Marathon <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header" style="font-size: smaller"><b>Marathon Predictions</b></li>
                        <li><a href="/marathon/peter_reigel_predictor/">Peter Riegel Predictor</a></li>
                        <li><a href="/marathon/andrew_vickers_half_marathon/">Andrew Vickers Half Marathon</a></li>
                        <li><a href="/marathon/dave_cameron_predictor/">Dave Cameron Predictor</a></li>
                        <li><a href="/marathon/daniels_gilbert_vo2_max/">Daniel's & Gilbert's VO2 Max Estimate</a></li>
                        <li><a href="/marathon/">Estimate Your Time</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header" style="font-size: smaller"><b>Pacing Planners</b></li>
                        <li><a href="/marathon/hansons_marathon_method/">Hansons Marathon Method</a></li>
                    </ul>
                </li>
                <li><a href="https://www.strava.com">Strava</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="runner">
    <div class="jumbotron" style="background-color: transparent">
        <br><br><br><br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Estimate your own Marathon time</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">


                    <form  action="{{ url_for('marathon') }}" method="post" role="form">
                        {{ form.csrf }}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <select id="race_length" class="form-control" name="race_length" onclick="getRace()">
                                        <option value="" disabled hidden>Select your distance.</option>
                                        <option value="Marathon" selected onclick="getRace()">Marathon</option>
                                        <option value="Half Marathon" disabled onclick="getRace()">Half Marathon</option>
                                        <option value="10 Miler" disabled onclick="getRace()">10 Miles</option>
                                        <option value="10 Kilometre" disabled onclick="getRace()">10K</option>
                                        <option value="5 Miler" disabled onclick="getRace()">5 Miles</option>
                                        <option value="5 Kilometre" disabled onclick="getRace()">5K</option>
                                        <option value="3 Kilometre" disabled onclick="getRace()">3K</option>
                                        <option value="Miler" disabled onclick="getRace()">1 Mile</option>
                                        <option value="1500 Metre" disabled onclick="getRace()">1500 Meters</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="race_length_head1" class="row">
                            <div id="race_length_head2" class="col-sm-12">
                                <label id="id1">
                                    What time do you expect to complete your upcoming Marathon in?
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group has-success has-feedback">
                                <input type="number" class="form-control" id="race_time_hours" name="race_time_hours" min="0" max="10" placeholder="Enter Hours:" onchange="clearMsg();" onkeydown="clearMsg();">
                            </div>
                            <div class="col-sm-4 form-group has-warning has-feedback">
                                <input type="number" class="form-control" id="race_time_minutes" name="race_time_minutes" min="0" max="60" placeholder="Enter Minutes:" onchange="clearMsg();" onkeydown="clearMsg();">
                            </div>
                            <div class="col-sm-4 form-group has-error has-feedback">
                                <input type="number" class="form-control" id="race_time_seconds" name="race_time_seconds" min="0" max="60" placeholder="Enter Seconds:" onchange="clearMsg();" onkeydown="clearMsg();">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">View your pacing chart!</button>
                            </div>
                        </div>
                    </form>



                    Expected marathon time: {{ hours }} hours, {{ minutes }} minutes & {{ seconds }} seconds. <br>
                    Pace: {{ pace }}, taking {{ kilometer__minute }} minutes to complete each kilometre.

                    <br><br>
                    <div class="col-sm-6">

                        <div id="chart">
                            <embed type="image/svg+xml" src= {{ line_chart|safe }} />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div id="chart">
                            <embed type="image/svg+xml" src= {{ bar_chart|safe }} />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>