{% extends "page_layout.html" %}
{% block body %}

<body style="padding-top: 80px;">

<div class="container">
    <div class="page-header">
        <h3> Welcome Back {{ athlete.firstname }}! </h3>
    </div>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-8">
            <div class="row slideanim">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2>Summary</h2>
                        </div>
                        <div class="panel-body">
                            <p><strong><span class="glyphicon glyphicon-time"></span></strong> Latest Activities</p>
                            <p><strong><span class="glyphicon glyphicon-star-empty"></span></strong> Longest Rides</p>
                            <p><strong><span class="glyphicon glyphicon-road"></span></strong> Furthest Runs</p>
                            <p><strong><span class="glyphicon glyphicon-arrow-up"></span></strong> Steepest Climbs</p>
                            <p><strong><span class="glyphicon glyphicon-globe"></span></strong> Regular Routes</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-lg">
                                <a href="/summary/"><span class="glyphicon glyphicon-stats"></span> View your Summary</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2>Marathon</h2>
                        </div>
                        <div class="panel-body">
                            <p><strong><span class="glyphicon glyphicon-time"></span></strong> Estimate Your Time</p>
                            <p><strong><span class="glyphicon glyphicon-user"></span></strong> Compare with other Marathonians</p>
                            <p><strong><span class="glyphicon glyphicon-repeat"></span></strong> Predict Your Pace</p>
                            <p><strong><span class="glyphicon glyphicon-stats"></span></strong> Detailed Charts</p>
                            <p><strong><span class="glyphicon glyphicon-ok-sign"></span></strong> Suggested Marathon Goals</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-lg">
                                <a href="/marathon/"><span class="glyphicon glyphicon-road"></span> Marathon Analysis</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row slideanim">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2>Activities</h2>
                        </div>
                        <div class="panel-body">
                            <p><strong><span class="glyphicon glyphicon-time"></span></strong> Latest Activities</p>
                            <p><strong><span class="glyphicon glyphicon-star-empty"></span></strong> Activities - 2018</p>
                            <p><strong><span class="glyphicon glyphicon-road"></span></strong> Run/Ride Statistics</p>
                            <p><strong><span class="glyphicon glyphicon-arrow-up"></span></strong> Monthly Statistics</p>
                            <p><strong><span class="glyphicon glyphicon-globe"></span></strong> Other information</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-lg">
                                <a href="/activities/all"><span class="glyphicon glyphicon-stats"></span> Check out your Activities</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2>Your Last Activity</h2>
                        </div>
                        <div class="panel-body">
                            <p><strong><span class="glyphicon glyphicon-time"></span></strong> Detailed Analysis of your Last Activity</p>
                            <p><strong><span class="glyphicon glyphicon-ok-sign"></span></strong> Distances Covered & Calories Burned</p>
                            <p><strong><span class="glyphicon glyphicon-stats"></span></strong> Top Speeds & Highest Climbs</p>
                            <p><strong><span class="glyphicon glyphicon-user"></span></strong> Accurate Route Map</p>
                            <p><strong><span class="glyphicon glyphicon-repeat"></span></strong> Pace Analysis</p>

                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-lg">
                                <a href="/activity/{{ last_activity_id }}"><span class="glyphicon glyphicon-road"></span>
                                    Last Activity - {{ last_activity_id }}
                                </a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <br>
            <!-- Add icon library -->
            <link rel="stylesheet" href="/static/personal_card.css">

            <div class="card">
                <img src="/home/GregorySloggett/FinalYearProject/static/ProfilePhoto.jpg" style="width:100%"/>
                <h1>{{ athlete.firstname}}  {{athlete.lastname }}</h1>
                <p class="title">Athlete ID: {{ athlete.id }}</p>
                <p>{{ athlete.city }}, {{ athlete.country }}</p>
                <p>Strava friends:{{ athlete.friend_count }}</p>
                <p>Strava followers: {{ athlete.follower_count }}</p>
                <p>Longest Distance: {{ athlete_stats.biggest_ride_distance }}</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>
    </div>
</div>
<br><br>
</body>
{% endblock %}