<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Two-column full width responsive layout</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="ADD AUTHOR INFORMATION">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
		<link rel="shortcut icon" href="favicon.ico">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">Strava Companion App</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
					<li><a href="/">Homepage</a></li>
					<li><a href="/return_user">Return User</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<h1>Strava Companion App</h1>
					<hr>



                    <h3>Activity Table</h3>
                    <p>The table below displays your last 10 <code>activities</code>.</p>
                    <table class="table table-striped">
                        <caption>Activitiy Table</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ride ID</th>
                                <th>Ride Name</th>
                                <th>Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for each_ride in last_ten_rides %}

                            <tr>
                                <th scope="row">{{ each_ride[0] }}</th>
                                <td><a href="/activity/{{ each_ride[1] }}"> {{ each_ride[1] }} </a></td>
                                <td>{{ each_ride[2] }}</td>
                                <td>{{ each_ride[3] }}</td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>


                    <br><br><br><br><br><br>
					<h3>UCD Final Year Project</h3>
					<p>This web application was set up for a final year project. The objective is to design
                        a companion application to interact with the Strava API and add some additional
                        functionality. The author of this project is Gregory Sloggett. See some of the
                        <a href="https://medium.com/@gregory.sloggett"> documentation related to this project</a>
					<hr>


					<h1>Heading level 1</h1>
					<h2>Heading level 2</h2>
					<h3>Heading level 3</h3>
					<h4>Heading level 4</h4>
					<h5>Heading level 5</h5>
					<h6>Heading level 6</h6>
					<hr>



					<!-- Paragraphs -->
					<h3>UCD Final Year Project</h3>
					<p>This web application was set up for a final year project. The objective is to design
                        a companion application to interact with the Strava API and add some additional
                        functionality. The author of this project is Gregory Sloggett. See some of the
                        <a href="https://medium.com/@gregory.sloggett"> documentation related to this project</a>
					<hr>


				</div>
				<div class="aside">
                    <br><br><br>
					                    <!-- Add icon library -->
                    <link rel="stylesheet" href="/static/personal_card.css">

                    <div class="card">
                      <img src="{{ athlete_profiler }}" style="width:100%">
                      <h1>{{ athlete.firstname}}  {{athlete.lastname }}</h1>
                      <p class="title">Athlete ID: {{ athlete.id }}</p>
                      <p>{{ athlete.city }}, {{ athlete.country }}</p>
                      <p>Strava friends:{{ athlete.friend_count }}</p>
                      <p>Strava followers: {{ athlete.follower_count }}</p>
                        <p>Longest Distance: {{ athlete_stats.biggest_ride_distance }}</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <p><button>Contact</button></p>
                    </div>
                </div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				&copy; Copyright 2015
			</div>
		</div>
	</body>
</html>
