{% extends "page_layout.html" %}

{% block style %}
    .bar {
    fill: steelblue;
    }

    .bar:hover {
    fill: brown;
    }

    .axis--x path {
    display: none;
    }

    .ticks {
    font: 10px sans-serif;
    }

    .track,
    .track-inset,
    .track-overlay {
    stroke-linecap: round;
    }

    .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
    }

    .track-inset {
    stroke: #ddd;
    stroke-width: 8px;
    }

    .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
    }

    .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    }

    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    }
{% endblock %}

{% block body %}

    <body style="padding-top: 80px;">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>Your Personal Summary</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <table class="table table-striped table-bordered table-hover">
                        <caption><h4>Summary Table</h4></caption>
                        <tbody>



                        <tr>
                            <th>Total Distance Covered</th>
                            <td>{{ total_activity_distance }} metres</td>
                        </tr>

                        <tr>
                            <th>Total Running Distance</th>
                            <td>{{ running_distance }} metres</td>
                        </tr>
                        <tr>
                            <th>Total Cycling Distance</th>
                            <td>{{ cycling_distance }} metres</td>
                        </tr>
                        <tr>
                            <th>Other Total Distance</th>
                            <td>{{ other_activity_distance }} metres</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <div id="chart">
                        <embed type="image/svg+xml" src= {{ pie_chart|safe }} />
                    </div>

                    <div id="chart">
                        <embed type="image/svg+xml" src= {{ pie_chart|safe }} />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Add icon library -->
                <link rel="stylesheet" href="/static/personal_card.css">

                <div class="card">
                    <img src="{{ athlete_profiler }}" style="width:100%">
                    <h1>{{ athlete.firstname}}  {{athlete.lastname }}</h1>
                    <p class="title">Athlete ID: {{ athlete.id }}</p>
                    <p>{{ athlete.city }}, {{ athlete.country }}</p>
                    <p>Strava friends:{{ athlete.friend_count }}</p>
                    <p>Strava followers: {{ athlete.follower_count }}</p>
                    <p>Longest Distance: {{ athlete_stats.biggest_ride_distance }}</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>Running distances</h2>
                </div>
                <p>Click on the bars to see more about your <code>activities</code>!</p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <svg width="100%" height="400px"></svg>

                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script>

                    // SETUP

                    var svg = d3.select("svg"),
                        margin = { top: 20, right: 20, bottom: 30, left: 40 },
                        x = d3.scaleBand().padding(0.1),
                        y = d3.scaleLinear(),
                        theData = undefined;

                    var g = svg.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    g.append("g")
                        .attr("class", "axis axis--x");

                    g.append("g")
                        .attr("class", "axis axis--y");

                    g.append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("Frequency");

                    // DRAWING

                    function draw() {

                        var bounds = svg.node().getBoundingClientRect(),
                            width = bounds.width - margin.left - margin.right,
                            height = bounds.height - margin.top - margin.bottom;

                        x.rangeRound([0, width]);
                        y.rangeRound([height, 0]);

                        g.select(".axis--x")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        g.select(".axis--y")
                            .call(d3.axisLeft(y));

                        var bars = g.selectAll(".bar")
                            .data(theData);

                        // ENTER
                        bars.enter().append("rect")
                            .attr("class", "bar")
                            .attr("x", function (d) { return x(d.letter); })
                            .attr("y", function (d) { return y(d.frequency); })
                            .attr("width", x.bandwidth())
                            .attr("height", function (d) { return height - y(d.frequency); })
                            .on("click", function(d){location.replace("/activities/" + d.letter);})
                            .on("mouseover", function(){return tooltip.style("visibility", "visible");})
                            .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
                            .on("mouseout", function(){return tooltip.style("visibility", "hidden");});


                        // UPDATE
                        bars.attr("x", function (d) { return x(d.letter); })
                            .attr("y", function (d) { return y(d.frequency); })
                            .attr("width", x.bandwidth())
                            .attr("height", function (d) { return height - y(d.frequency); });

                        // EXIT
                        bars.exit()
                            .remove();


                    }

                    // LOADING DATA

                    function loadData(csvFile) {

                        d3.csv(csvFile, function (d) {
                            d.frequency = +d.frequency;
                            return d;

                        }, function (error, data) {
                            if (error) throw error;

                            theData = data;

                            x.domain(theData.map(function (d) { return d.letter; }));
                            y.domain([0, d3.max(theData, function (d) { return d.frequency; })]);

                            draw();

                        });
                    }

                    // START!

                    window.addEventListener("resize", draw);
                    loadData("/home/GregorySloggett/FinalYearProject/static/distances.csv" + '?' + Math.floor(Math.random() * 1000));

                </script>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h2>Your Last Ten Activities</h2>
                </div>
                <p>The table below displays your last 10 <code>activities</code>.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped table-bordered table-hover">
                    <caption><h3>Activitiy Table</h3></caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Activity ID</th>
                        <th>Activity Name</th>
                        <th>Distance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each_ride in last_ten_rides %}

                        <tr>
                            <th scope="row">{{ each_ride[0] }}</th>
                            <td><u><code><a href="/activity/{{ each_ride[1] }}"> {{ each_ride[1] }} </a></code></u></td>
                            <td>{{ each_ride[2] }}</td>
                            <td>{{ each_ride[3] }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped">
                    <caption>Your First Activity</caption>
                    <thead>
                    <tr>
                        <th>Activity ID</th>
                        <th>Activity Name</th>
                        <th>Distance</th>
                        <th>Moving Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"><u><a href="/activity/{{ first_activity['id'] }}"> {{ first_activity['id'] }} </a></u></th>
                        <td>{{ first_activity.name }}</td>
                        <td>{{ first_activity.distance }}</td>
                        <td>{{ first_activity.moving_time }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
